@using NungSue.Entities
@inject IConfiguration Config

@model List<ShoppingCart>

<div class="d-flex align-items-center gap-5 px-5">
    <div style="width:725px" class="text-center">สินค้า</div>
    <div style="width:150px" class="text-end">ราคต่อชิ้น</div>
    <div style="width:100px" class="text-center">จำนวน</div>
    <div class="text-end" style="width:150px">ราคารวม</div>
    <div style="width:50px"></div>
</div>
<hr />
@foreach (var item in Model)
{
    <div id="@item.BookId">
        <div class="d-flex align-items-center gap-5 px-5">
            <div style="width:150px">
                <img src="@Config.GetValue(typeof(string),"ImageUrl")@item.Book.BookImage" class="rounded mx-auto d-block" height="100" />
            </div>
            <div style="width:500px">@item.Book.Title</div>
            <div style="width:150px" class="text-end">

                @if (item.Book.PriceOffer == null)
                {
                    <span id="price_@item.BookId" data-value="@item.Book.Price">฿@item.Book.Price</span>
                }
                else
                {
                    <del class="text-muted">฿@item.Book.Price</del>
                    <span id="price_@item.BookId" data-value="@item.Book.PriceOffer.NewPrice">
                        ฿@item.Book.PriceOffer.NewPrice.ToString("N0")
                    </span>
                }
            </div>
            <div class="input-group" style="width:120px">
                <button onclick="UpdateQty(-1,'@item.BookId')" class="btn btn-outline-secondary btn-sm border-secondary" type="button">-</button>
                <input type="text" id="qty_@item.BookId" value="@item.Quantity" class="form-control bg-white border-secondary" disabled>
                <button onclick="UpdateQty(1,'@item.BookId')" class="btn btn-outline-secondary btn-sm border-secondary" type="button">+</button>
            </div>
            @if (item.Book.PriceOffer == null)
            {
                <span class="text-end" id="total_@item.BookId" data-value="@(item.Quantity * item.Book.Price)" style="width:150px">฿@((item.Quantity * item.Book.Price).ToString("N0"))</span>
            }
            else
            {
                <span class="text-end" id="total_@item.BookId" data-value="@(item.Quantity * item.Book.PriceOffer.NewPrice)" style="width:150px">฿@((item.Quantity * item.Book.PriceOffer.NewPrice).ToString("N0"))</span>
            }
            <div style="width:50px">
                <button onclick="UpdateQty(0,'@item.BookId')" class="btn btn-danger btn-sm">ลบ</button>
            </div>
        </div>
        <hr />
    </div>
}
@if (Model.Any())
{
    <div class="card" id="result">
        <div class="card-body d-flex justify-content-end align-items-center px-5">
            <span class="fs-5 me-3" id="count">รวม (@Model.Count รายการ) </span>
            <span class="fs-3 me-3 text-danger" id="total">฿@Model.Sum(x=>x.Quantity * (x.Book.PriceOffer == null?x.Book.Price:x.Book.PriceOffer.NewPrice)).ToString("N0")</span>
            <button class="btn btn-primary w-25">ชำระเงิน</button>
        </div>
    </div>
}


<h3 id="cart-empty" class="text-center @(Model.Any() ?"d-none":null)">ไม่มีสินค้าในตะกร้า</h3>



@section Script{
    <script>
        function UpdateQty(amount, bookId) {
            var request = $.ajax({
                type: 'GET',
                url: '/cart/update/' + bookId + '/' + amount,
                dataType: "json"
            });

            request.done(
                function(response) {

                    if (response.count == 0) {
                        $('#cart-count').addClass('d-none');
                        $('#result').remove();
                        $('#cart-empty').removeClass("d-none");
                    } else {
                        $("#cart-count").removeClass('d-none').html(response.count);
                    }

                    if (response.qty == 0) {
                        $('#' + bookId).remove();
                        $('#count').text(`รวม (${response.count} รายการ)`)
                    }
                    else {
                        $('#qty_' + bookId).attr("value", response.qty)
                        var price = parseInt($('#price_' + bookId).attr("data-value"));
                        var total = parseInt($('#total_' + bookId).attr("data-value"));
                        if (amount == 1) {
                            total += price;
                        } else {
                            total -= price;
                        }
                        $('#total_' + bookId).attr("data-value", total).text('฿' + total.toLocaleString());
                    }
                    $('#total').text('฿' + response.total)
                }
            );
        }
    </script>
}