@model NungSue.ViewModels.CategoryTagViewModel
@{
    ViewData["Title"] = (Model.Type == "category" ? "หมวดหมู่ : " : "แท็ก : ") + @Model.Name;
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h4>@(Model.Type=="category"?"หมวดหมู่":"แท็ก") : @Model.Name</h4>
    <span class="fs-6">ทั้งหมด : @Model.TotalRecord รายการ</span>
</div>
<div class="row">
    @foreach (var item in Model.BookItems)
    {
        <div class="col-lg-4">
            <div class="card book-item mb-3 shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <a asp-action="BookDetail" asp-route-barcode="@item.Barcode">
                                <img src="@item.BookImageUrl" class="img-thumbnail img-fluid">
                            </a>
                        </div>
                        <div class="col-8 ps-0">
                            <div class="d-flex bd-highlight">
                                <div class="w-100 pe-3">
                                    <a asp-action="BookDetail" asp-route-barcode="@item.Barcode" class="fw-bold book-title text-decoration-none text-black">@item.Title</a>
                                    <p class="book-description text-muted">@item.Description</p>
                                    @if (item.PromotionPrice != null)
                                    {
                                        <small class="position-absolute bottom-0 me-3 text-danger" style="padding-bottom:18px">* @item.PromotionText</small>
                                    }

                                </div>
                                <div class="flex-shrink-1">
                                    <button type="button" onclick="UpdateFavorite(this,false)" value="@item.BookId" class="fa-solid fa-heart @(item.IsFavorite?"text-danger":"text-muted") fa-lg pb-3 position-absolute top-0 end-0 me-3 pt-3"></button>
                                    <div class="position-absolute end-0 bottom-0 me-3 pb-3">
                                        @if (item.PromotionPrice == null)
                                        {
                                            <span class="text-danger fs-5">฿@item.Price</span>
                                        }
                                        else
                                        {
                                            <small class="text-muted pe-2"></small>
                                            <span class="text-danger fs-5"><del class="text-muted fs-6">฿@item.Price</del> ฿@item.PromotionPrice</span>
                                        }
                                        <button type="button" onclick="AddBookToCart(this)" value="@item.BookId" class="fa-solid fa-lg fa-cart-shopping text-muted" style="padding-bottom:3px"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>